
body p {
background: #8cb27c;
height: 376px;
width: 761px;
box-sizing: border-box;
color: transparent;
position: absolute;
left: 50vh;
top: 15vh;
}

body p + p {
  background: #8cb27c;
  height: 353px;
  width: 734px;
  box-sizing: border-box;
  color: transparent;
  position: relative;
  top: 16.9vh;
  left: 50.8vh;
  border: 4px white solid;
}
div {
  background: #8cb27c;
  height: 153px;
  width: 82px;
  box-sizing: border-box;
  color: transparent;
  position: relative;
  left: 50.8vh;
  top: -30vh;
  border: 4px white solid;
}
.right-box {
  position: relative;
  left: 161.8vh;
  top: -56vh;
}
.circule{
     width: 161px;
     height: 154px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #8cb27c;
     border: 3px white solid;
     box-sizing: border-box;
     position: relative;
     left: 100.8vh;
     top: -82vh;
     border: 4px white solid;

}
.icon-volleyball {
  box-sizing: border-box;
  -moz-border-radius: 1vh;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: white;
  color: gray;
  position: relative;
  top: 21vh;
  left: -4vh;
  width: 11px;
  height: 11px;
}

.icon-volleyball2 {
  box-sizing: border-box;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: gray;
  color: white;
  position: relative;
  top: 0vh;
  left: 11vh;
  width: 11px;
  height: 11px;
}

.icon-volleyball-water {
  box-sizing: border-box;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: white;
  color: gray;
  position: relative;
  top: -10vh;
  left: 15vh;
  width: 11px;
  height: 11px;
}
